NODE_ENV=development
GEMINI_API_KEY=
APP_URL='http://localhost:3000'
VITE_APP_URL='http://localhost:3000'    
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"
SUPABASE_URL=
SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
