NODE_ENV=development
GEMINI_API_KEY=
APP_URL='http://localhost:3000'
VITE_APP_URL='http://localhost:3000'    
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"
SUPABASE_URL=
SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
PROJECT_NAME='Soma Alerta'

# GitHub
# https://github.com/settings/tokens/new
GITHUB_PERSONAL_ACCESS_TOKEN=

# Stitch
# https://stitch.withgoogle.com/settings
STITCH_API_KEY=

# Vercel
# https://vercel.com/account/settings/tokens
VERCEL_API_TOKEN=

# Supabase
# https://supabase.com/dashboard/account/tokens
SUPABASE_ACCESS_TOKEN=
#NEXT_PUBLIC_SUPABASE_URL=(será preenchida posteriormente)
#NEXT_PUBLIC_SUPABASE_ANON_KEY=(será preenchida posteriormente)

# Context7
# https://context7.com/dashboard
CONTEXT7_API_KEY=

#Backend para Frontend
NEXT_PUBLIC_API_URL=